In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train = pd.read_csv("data/train.csv")
df_store = pd.read_csv("data/store.csv")
df_test = pd.read_csv("data/test.csv")

/home/nastya/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Don't forget that you made a limit

In [18]:
df_train = df_train[:20000]

- `Id` - an Id that represents a (Store, Date) duple within the test set
- `Store` - a unique Id for each store
- `Sales` - the turnover for any given day (TARGET)
- `Customers` - the number of customers on a given day
- `Open` - an indicator for whether the store was open: 
    - 0 = closed
    - 1 = open
- `StateHoliday` - indicates a state holiday. Normally all stores, with few exceptions, are closed on state holidays. Note that all schools are closed on public holidays and weekends. 
  - a = public holiday
  - b = Easter holiday
  - c = Christmas
  - 0 = None
- `SchoolHoliday` - indicates if the (Store, Date) was affected by the closure of public schools
- `StoreType` - differentiates between 4 different store models: a, b, c, d
- `Assortment` - describes an assortment level: 
    - a = basic
    - b = extra
    - c = extended
- `CompetitionDistance` - distance in meters to the nearest competitor store
- `CompetitionOpenSince`[Month/Year] - gives the approximate year and month of the time the nearest competitor was opened
- `Promo` - indicates whether a store is running a promo on that day
- `Promo2` - Promo2 is a continuing and consecutive promotion for some stores:
    - 0 = store is not participating
    - 1 = store is participating
- `Promo2Since`[Year/Week] - describes the year and calendar week when the store started participating in Promo2
- `PromoInterval` - describes the consecutive intervals Promo2 is started, naming the months the promotion is started anew. E.g. "Feb,May,Aug,Nov" means each round starts in February, May, August, November of any given year for that store

In [19]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,dayOfWeek
0,1,5,2015-07-31,5263,555,1,1,0,1,2015,7,4
1,2,5,2015-07-31,6064,625,1,1,0,1,2015,7,4
2,3,5,2015-07-31,8314,821,1,1,0,1,2015,7,4
3,4,5,2015-07-31,13995,1498,1,1,0,1,2015,7,4
4,5,5,2015-07-31,4822,559,1,1,0,1,2015,7,4

In [4]:
df_store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

In [5]:
df_test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

### Data Preparation

In [53]:
df_train = pd.read_csv("data/train.csv")
df_store = pd.read_csv("data/store.csv")
df_test = pd.read_csv("data/test.csv")

def data_preparation(df):
    df.fillna(0, inplace=True)
    df['Date'] = pd.to_datetime(df['Date'])
    df['Year'] = df['Date'].map(lambda x: x.year)
    df['Month'] = df['Date'].map(lambda x: x.month)
    df['dayOfWeek'] = df['Date'].map(lambda x: x.dayofweek)
    
    df['StateHoliday'] = df['StateHoliday'].map({'a':1, 'b': 2, 'c': 3, '0': 0, 0: 0, np.nan: 0})  
    df['StoreType'] = df['StoreType'].map({'a':1, 'b': 2, 'c': 3, 'd': 4})
    df['Assortment'] = df['Assortment'].map({'a':1, 'b': 2, 'c': 3})
    
    df = df.drop(['Sales','Date','DayOfWeek','PromoInterval'], axis=1)
    return df

/home/nastya/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3018: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [54]:
train = data_preparation(pd.merge(df_train, df_store, on='Store'))

In [55]:
train.head()

,Store,Customers,Open,Promo,StateHoliday,SchoolHoliday,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,Year,Month,dayOfWeek
0,1,555,1,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,4
1,1,546,1,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,3
2,1,523,1,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,2
3,1,560,1,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,1
4,1,612,1,1,0,1,3,1,1270.0,9.0,2008.0,0,0.0,0.0,2015,7,0

`StateHoliday`, `StoreType`, `Assortment`, `PromoInterval`